/* début nomenclature */
body{
    max-width: 393px;
}
h4{
    font-size: 14px;
}
/* fin nomenclature */
/* début caroussel */
    /*commun à tous*/
.carou{
    text-align: center;
    display: flex;
    padding: 40px 24px;
    /*propre au système de scroll*/
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; 
    /*fin scroll*/
}

.carou::-webkit-scrollbar{ display:none; }

.carou div{
    position: static;
    background: #fff;
    box-shadow: 0 10px 25px #000;
}
    /*celui à l'avant*/
.carou .front {
    width: 236px;
    z-index: 3;
}
.carou .front img{
    height: 152px;
    width: 236px;
}
    /*fin avant*/
    /*ceux derrière*/
.carou .back{
    max-width: 180px;
    opacity: 64%;
    margin-top: 10px;
}
.carou .back img{
    height: 116px;
    width: 180px;
}
    /*fin arrière*/
/* fin caroussel */